@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

<<<<<<< HEAD
/* main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

img.img1 {
  height: 100vh;
  width: 100%;
}
img.img2 {
  height: 100vh;
  width: 100%;
}
img.img3 {
  height: 90vh;
  width: 110%;
}
=======
>>>>>>> 215cb6e6f87421bbd6c81aa730d72fbc7c768079
